{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COOP - Login Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/3574c5c929.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid px-0"> 
      <div class="row gx-0 vh-100"> 
        <div class="col-6 p-0">
          <img class="login-img" src="{% static 'assets/bg/bg-login.png' %}" alt="">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-start ps-6">
          <a class="navbar-brand mb-4" href="{% url 'home' %}"><img class="logo-stem" src="{% static 'assets/logo/logo_stem.png' %}" alt=""></a>
          <h5 class="ms-2">Aktifkan Akun Admin Kamu</h5>
          <form class="w-75 mt-5 ms-3">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input name="email" type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="adminCode" class="form-label">Kode ID</label>
              <input name="adminCode"  type="number" class="form-control" id="adminCode">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password"  type="password" class="form-control" id="password">
              </div>
            <button type="submit" class="btn btn-custom-red w-100 mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'js/register_admin.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
