{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COOP - Dashboard Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    <script src="https://kit.fontawesome.com/3574c5c929.js" crossorigin="anonymous"></script> 
</head>
  <body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <section class="navigation-bar-top2">
        <nav class="navbar bg-body-tertiary fixed-top shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="container-fluid">
               <a class="navbar-brand" href="{% url 'dashboard_admin'%}"><img class="logo-stem" src="{% static 'assets/logo/logo_stem.png'%}" alt=""></a>
               <a href="{% url 'dashboard_admin'%}" class="d-flex align-items-center">
                {% if current_user.profile_image %}    
                  <img class="rounded-circle profile me-3" alt="avatar1" src="{{ current_user.profile_image.url }}" />
                {% else %}
                  <img class="rounded-circle profile me-3" alt="avatar1" src="{% static 'assets/people/profile_pic.png'%}" />
                {% endif %}
                    <p class="mb-0">{{ current_user.name }}</p>
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarTogglerDemo02" aria-labelledby="navbarTogglerDemo02Label">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="navbarTogglerDemo02Label">Menu</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                      <button class="nav-link text-start p-4 rounded active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-solid fa-house me-3"></i>Dashboard</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link text-start p-4 rounded" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-solid fa-bell me-3"></i>Notifikasi</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link text-start p-4 rounded" id="v-pills-tasks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-solid fa-calendar-check me-3"></i>Daftar Tugas</button>
                      </li>
                    <li class="nav-item">
                        <button class="nav-link text-start p-4 rounded" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa-solid fa-user me-3"></i>Profil Admin</button>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-arrow-right-from-bracket me-3"></i>Keluar Akun</button>
                        </form>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </section>

    <section class="dashboard mt-6">
        <div>
            <div class="row justify-content-center">
              <div class="col-sm-2 menu-dashboard">

                <div class="d-flex justify-content-center w-100 bg-white p-4 rounded"> 
                    <div class="nav flex-column nav-pills text-start me-3 justify-content-between" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <div class="sub-menu-dashboard">
                            <button class="nav-link text-start mb-2 active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa-solid fa-house me-3"></i>Dashboard</button>
                            <button class="nav-link text-start mb-2 " id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa-solid fa-bell me-3"></i>Notifikasi</button>
                            <button class="nav-link text-start mb-2 " id="v-pills-tasks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-tasks" type="button" role="tab" aria-controls="v-pills-tasks" aria-selected="false"><i class="fa-solid fa-calendar-check me-3"></i>Daftar Tugas</button>
                            <button class="nav-link text-start mb-2 " id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa-solid fa-user me-3"></i>Profil Admin</button>
                        </div>
                        <div class="keluar-akun mt-8">
                            <hr class="solid">
                            <!-- <a href="{% url 'dashboard_admin'%}" type="button" class="btn btn-light"> <i class="fa-solid fa-arrow-right-from-bracket me-3"></i>Keluar Akun</a> -->
                                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-light"><i class="fa-solid fa-arrow-right-from-bracket me-3"></i>Keluar Akun</button>
                                </form>
                        </div>     
                    </div>
                  </div>

                </div>
              <div class="col-sm-10">
                <div class="tab-content " id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                        <section class="dashoboard-up mt-5">
                            <div class="row justify-content-evenly">
                                <div class="col-lg-6">
                                    <div class="isikiri">
                                        <h3>Pendaftaran Program COOP</h3>
                                        <p>30 September 2024 - 31 Desember 2024</p>
                                        <div class="container bg-white p-4 rounded">
                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <div class="row text-center">
                                                            <div class="col-3">
                                                                <h3 id="days" class="display-4">29</h3>
                                                                <p>Hari</p>
                                                            </div>
                                                            <div class="col-3">
                                                                <h3 id="hours" class="display-4">06</h3>
                                                                <p>Jam</p>
                                                            </div>
                                                            <div class="col-3">
                                                                <h3 id="minutes" class="display-4">58</h3>
                                                                <p>Menit</p>
                                                            </div>
                                                            <div class="col-3">
                                                                <h3 id="seconds" class="display-4">24</h3>
                                                                <p>Detik</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                </div>
                                
                                </div>
                                <div class="col-lg-6 kanan">
                                    <div class="container-fluid bg-white p-4 rounded my-4">
                                        <h5>Daftar Tugas</h5>
                                        <div class="form-check mb-1 mt-2 ms-2">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Surat Pendaftaran Program COOP
                                            </label>
                                          </div>
                                          <div class="form-check mb-1 ms-2">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Surat Konfirmasi Perusahaan
                                            </label>
                                          </div>
                                          <div class="form-check mb-1 ms-2">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Laporan Hasil Evaluasi Akhir Magang
                                            </label>
                                          </div>
                                          <div class="form-check mb-1 ms-2">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Laporan Hasil Evaluasi Akhir Magang
                                            </label>
                                          </div>
                                          <div class="form-check mb-1 ms-2">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Surat Pendaftaran Program COOP
                                            </label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="dashboard-down2 mt-3">
                            <h4 class="mt-4">AKTIVITAS</h4>
                            <hr class="solid">
                                    <div class="container text-center">
                                        <div class="row row-cols-md-4">
                                            <div class="col  my-3">
                                                <a href="{% url 'daftar_mahasiswa'%}" class="card p-5 w-100 align-items-center">
                                                    <i class="fa-solid fa-user-graduate"></i>
                                                </a>
                                                <div class="card-body mt-2">
                                                    <p class="card-text">Daftar Mahasiswa</p>
                                                </div>
                                              </div>
                                            <div class="col my-3">
                                            <a href="{% url 'daftar_surat_pengantar'%}" class="card p-5 w-100 align-items-center">
                                                <i class="fa-solid fa-file-signature"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Daftar Surat Pengantar</p>
                                            </div>
                                          </div>
                                          <div class="col  my-3">
                                            <a href="{% url 'daftar_mock_intv'%}" class="card p-5 w-100 align-items-center">
                                                <i class="fa-solid fa-user-group"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Daftar Mock Interview</p>
                                            </div>
                                          </div>
                                          <div class="col  my-3">
                                            <a href="{% url 'daftar_inplace'%}" class="card p-5 w-100 align-items-center">
                                              <i class="fa-solid fa-business-time"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Open Career</p>
                                            </div>
                                          </div>
                                          <div class="col  my-3">
                                            <a href="{% url 'daftar_pengunggahan_cv'%}" class="card p-5 w-100 align-items-center">
                                                <i class="fa-solid fa-file-pdf"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Daftar Pengunggahan CV</p>
                                            </div>
                                          </div>
                                          <div class="col my-3">
                                            <a href="{% url 'daftar_konfirmasi_coop'%}" class="card p-5 w-100 align-items-center">
                                                <i class="fa-solid fa-circle-exclamation"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Daftar Konfirmasi COOP</p>
                                            </div>
                                          </div>
                                          <div class="col  my-3">
                                            <a href="{% url 'daftar_laporan_hasil_magang'%}" class="card p-5 w-100 align-items-center">
                                                <i class="fa-solid fa-file-circle-plus"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Daftar Laporan Hasil Magang</p>
                                            </div>
                                          </div>
                                          <div class="col  my-3">
                                            <a href="{% url 'daftar_pengunduran_diri'%}" class="card p-5 w-100 align-items-center">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                            <div class="card-body mt-2">
                                                <p class="card-text">Daftar Pengunduran Diri</p>
                                            </div>
                                          </div>
                                          
                                        </div>
                                    </div>
                        </section>
                    </div> 

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <section class="comments mt-4">
                            <h3>Notifikasi</h3>
                            
                            <div id="comments-data" class="my-3">
                              {% for notification in notifications %}
                                  <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="container text-start align-center">
                                        <div class="row justify-content-between">
                                            <div class="col-7">
                                                <h6>${notification.message}</h6>
                                            </div>
                                            <div class="col-5">
                                                <div class="row align-items-start">
                                                    <div class="col">
                                                        ${notification.user}
                                                    </div>
                                                    <div class="col">
                                                        ${notification.id_notification}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                              {% empty %}
                                  <p>Tidak ada notifikasi.</p>
                              {% endfor %}

                            </div>
                        </section>
                    </div>
                  
                    <div class="tab-pane fade" id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab" tabindex="0">
                        <section class="comments mt-4">
                            <h3>Daftar Tugas</h3>
                            <hr class="solid">
                            <div class="container text-start">
                              <div class="row justify-content-between">
                                  <div class="col-md-1">
                                      Status
                                  </div>
                                  <div class="col-md-5">
                                      Deskripsi
                                  </div>
                                  <div class="col-md-6">
                                      <div class="row align-items-start">
                                          <div class="col">
                                              Nama Mahasiswa
                                          </div>
                                          <div class="col">
                                             NIM
                                          </div>
                                          <div class="col">
                                            Diunggah Pada 
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <hr class="solid">
                            <div id="todo-data" class="my-3">

                                {% for worklist in worklist %}
                                <div class="card mb-2">
                                  <div class="card-body">
                                      <div class="container text-start">
                                      <div class="row justify-content-between">
                                          <div class="col-md-1">
                                              <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault${worklist.id_list}" ${check}>
                                              </div>
                                          </div>
                                          <div class="col-md-5">
                                              <label class="form-check-label" for="flexCheckDefault${worklist.id_list}">
                                                  ${worklist.description}
                                              </label>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="row align-items-start">
                                                  <div class="col">
                                                      ${worklist.name}
                                                  </div>
                                                  <div class="col">
                                                      ${worklist.nim}
                                                  </div>
                                                  <div class="col">
                                                      ${worklist.created_at}
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      </div>
                                  </div>
                              </div>
                              {% empty %}
                                    <p>Tidak ada Daftar Tugas.</p>
                              {% endfor %}

                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">

                        <form action="{% url 'dashboard_admin'%}" class="w-100 mt-5">
                          <section class="container identitas-mahasiswa mt-5">
                            <h4>IDENTITAS ADMIN</h4>
                            <hr class="solid">
                            <div class="container text-start">
                                <div class="row row-cols-md-2">
                                    <div class="col-md">
                                        <div class="mb-3">
                                            <label for="exampleInputFullName1" class="form-label">Nama Lengkap</label>
                                            <input value="{{ current_user.name }}" placeholder="contoh: John Doe" type="text" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="exampleInputFullName1">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Email Pribadi</label>
                                            <input value="{{ current_user.email }}" placeholder="contoh: johndoe@email.com" type="email" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="exampleInputEmail1">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="mb-3">
                                            <label for="exampleInputPhoneNumber1" class="form-label">Nomor Telepon</label>
                                            <input value="{{ current_user.phone_number }}" placeholder="contoh: +62 122345XXX" type="number" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="exampleInputPhoneNumber1">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md">
                                        <div class="mb-3">
                                            <label for="exampleInputCampusEmail1" class="form-label">Email Kampus</label>
                                            <input value="{{ current_user.personal_email }}" placeholder="contoh: 235023100XX@student.prasetiyamulya.ac.id" type="email" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="exampleInputCampusEmail1">
                                        </div>
                                    </div> -->
                                    <div class="col-md">
                                        <div class="mb-3">
                                            <label for="exampleInputGender1" class="form-label">Jenis Kelamin</label>
                                            <select class="form-select shadow-sm p-3 mb-5 bg-body-tertiary rounded" aria-label="Default select example">
                                                <option value="male" {% if current_user.gender == 'male' %}selected{% endif %}>Laki-laki</option>
                                                <option value="female" {% if current_user.gender == 'female' %}selected{% endif %}>Perempuan</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                            <section class="container identitas-mahasiswa mt-3">
                              <h4>GANTI PASSWORD</h4>
                              <hr class="solid">
                              <div class="container text-start">
                                      <div class="row row-cols-md-2">
                                          <div class="col-md">
                                              <div class="mb-3">
                                                  <label for="passwordLama" class="form-label">Password Sebelumnya</label>
                                                  <input placeholder="contoh: Abdhsk153e"  type="password" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="passwordLama">
                                                </div>
                                          </div>
                                          
                                          <div class="col-md">
                                              <div class="mb-3">
                                                  <label for="passwordBaru" class="form-label">Password Baru</label>
                                                  <input placeholder="contoh: Baisd6@ "  type="password" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="passwordBaru">
                                                </div>
                                          </div>
                          </section>
            
                            <section class="container submit mt-4">
                    
                                  <button type="button" class="btn btn-outline-danger w-100 btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Perbaharui Data
                                  </button>
                                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Pendaftaran Program COOP</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          Apakah kamu yakin data yang dimasukkan sudah benar?
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                                          <button type="submit button" class="btn btn-custom-red">Kirimkan</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </section>
                    
                        </form>

                    </div>
                  </div>
                </div>
            </div>
          </div>
    </section>

    <footer class="mt-6 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                  <img  class="footer-img" src="{% static 'assets/logo/logo_stem2.png'%}" alt="">
                  <h2 class="footer-desc mt-5">
                    Universitas Prasetiya Mulya
                    STEM(Science, Technology, Engineering, Mathemathics)
                  </h2>
  
                  <h2 class="footer-desc mt-4">
                    BSD City Kavling Edutown I.1
                    Jl. BSD Raya Utama, BSD City 15339
                    Kabupaten Tangerang, Indonesia
                  </h2>
                </div>
                <div class="col-lg-6 footer-kanan">
                    <div class="footer-contacts">
                        <div class="custom-row my-2">
                            <img  class="footer-img2" src="{% static 'assets/icons/footer_ig.png'%}" alt="">
                            <div class="p-1 footer-desc2"><a href="https://www.instagram.com/stemprasetiyamulya/">@stemprasetiyamulya</a></div>
                        </div>
                        <div class="custom-row my-2">
                            <img  class="footer-img2" src="{% static 'assets/icons/footer_wa.png'%}" alt="">
                            <div class="p-1 footer-desc2"><a href="https://wa.me/6281511662005">(+62)81511662005</a> / <a href="https://wa.me/628124111660">(+62)8124111660</a></div>
                        </div>
                        <div class="custom-row my-2">
                            <img  class="footer-img2" src="{% static 'assets/icons/footer_gmail.png'%}" alt="">
                            <div class="p-1 footer-desc2"><a href="mailto:info@prasetiyamulya.ac.id">info@prasetiyamulya.ac.id</a></div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/dashboard.js'%}"></script>

</body>
</html>



