{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COOP - Permohonan Mock Interview</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/register_input_mahasiswa.css'%}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
    <script src="https://kit.fontawesome.com/3574c5c929.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="navigation-bar-top2">
        <nav class="navbar bg-body-tertiary fixed-top shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="container-fluid">
               <a class="navbar-brand" href="{% url 'home' %}"><img class="logo-stem" src="{% static 'assets/logo/logo_stem.png'%}" alt=""></a>
               <div class="d-flex align-items-center">
                    <img class="rounded-circle profile me-3" alt="avatar1" src="{% static 'assets/people/profile_pic.png'%}" />
                    <p class="mb-0">John Doe</p>
                </div>
            </div>
          </nav>
    </section>

    <section class="container logo-back mt-9 mb-5">
      <h4 class="my-5"><a href="javascript:history.back()"><i class="fa-solid fa-arrow-left me-3"></i> Permohonan Mock Interview</a></h4>
      <p>
        Mahasiswa dapat mendapatkan simulasi wawancara bersama tim HR dari Universitas Prasetiya Mulya, maka untuk memperlancar proses dimohon untuk mengisi dengan benar dan sesuai dengan kebutuhan.
        <ul>
            <li>
                Proses Mock Interview Paling Awal dapat dilakukan H-2 dari pengiriman data
            </li>
            <li>
                Permohonan akan diproses dalam 1-2 hari kerja.
            </li>
        </ul>
      </p>
    </section>

    <form action="{% url 'dashboard_student' %}" class="w-100 mt-5">
        <section class="container keterangan-mahasiswa mt-5">
            <h4>INFORMASI DASAR</h4>
            <hr class="solid">
            <div class="container text-start">
                    <div class="row row-cols-md-2 mt-4">
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="exampleInputNamaPerusahaan1" class="form-label">Posisi Yang Dilamar</label>
                                <input placeholder="contoh: Software Engineering - Flutter" type="text" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="exampleInputNamaPerusahaan1">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="exampleInputNamaPICPerusahaan1" class="form-label">Tanggal Interview Yang Diinginkan</label>
                                <input placeholder="contoh: "  type="date" class="form-control shadow-sm p-3 bg-body-tertiary rounded" id="exampleInputNamaPICPerusahaan1">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="exampleInputNamaPICPerusahaan1" class="form-label">Jam Interview Yang Diinginkan</label>
                                <input placeholder="contoh: " type="time" class="form-control shadow-sm p-3 bg-body-tertiary rounded" id="exampleInputNamaPICPerusahaan1">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="exampleInputStatusPemagangan1" class="form-label">Nama Pewawancara Yang Diinginkan</label>
                                <select class="form-select shadow-sm p-3 mb-5 bg-body-tertiary rounded" aria-label="Default select example">
                                    <option selected>pilih pewawancara</option>
                                    <option value="Ibu Siti Nurfatwi">Ibu Siti Nurfatwi</option>
                                    <option value="Bapak Kimberly Monto">Bapak Kimberly Monto</option>
                                    <option value="Ibu Anya Hurash">Ibu Anya Hurash</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="exampleInputAlamatPerusahaan1" class="form-label">Nama Perusahaan / Lembaga / Institusi</label>
                                <input placeholder="contoh: Yayasan Prasetiya Mulya"  type="text" class="form-control shadow-sm p-3 mb-5 bg-body-tertiary rounded" id="exampleInputAlamatPerusahaan1">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <label for="exampleInputStatusPemagangan1" class="form-label">Keperluan Interview Untuk</label>
                                <select class="form-select shadow-sm p-3 mb-5 bg-body-tertiary rounded" aria-label="Default select example">
                                    <option selected>pilih status pemagangan</option>
                                    <option value="Sudah Diterima">Co-op Internship</option>
                                    <option value="Reguler Internship">Reguler Internship</option>
                                    <option value="OJT">OJT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                      </div>
        </section>

        <section class="container informasi-pelengkap mt-5">
            <h4>DATA PELENGKAP</h4>
            <hr class="solid">
            <div class="container text-start"> 
                <div class="col-md">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload CV terbaru</label>
                        <input class="form-control shadow-sm p-3 bg-body-tertiary rounded" type="file" id="formFile">
                        <div class="form-text mt-2 " id="basic-addon4">*Berkas yang diterima pada masing-masing bagian adalah file ukuran maksimal 1GB (.pdf)</div>
                      </div>
                      
                </div>
            </div>
        </section>
        <section class="container submit mt-6">
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Dengan mengirimkan data ini, say abersedia untuk dikontak lebih lanjut untuk mengatur jadwal pasti dengan pihak prasetiya mulya</label>
              </div>

              <button type="button" class="btn btn-outline-danger w-100 btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Submit
              </button>
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Permintaan Jadwal Mock Interview</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Apakah kamu yakin data yang dimasukkan sudah benar?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
                      <button type="submit" class="btn btn-custom-red" >Kirimkan</button>
                    </div>
                  </div>
                </div>
              </div>
        </section>
    </form>

    <footer class="mt-6 py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                  <img  class="footer-img" src="{% static 'assets/logo/logo_stem2.png'%}" alt="">
                  <h2 class="footer-desc mt-5">
                    Universitas Prasetiya Mulya
                    STEM(Science, Technology, Engineering, Mathemathics)
                  </h2>
  
                  <h2 class="footer-desc mt-4">
                    BSD City Kavling Edutown I.1
                    Jl. BSD Raya Utama, BSD City 15339
                    Kabupaten Tangerang, Indonesia
                  </h2>
                </div>
                <div class="col-lg-6">
                    <div class="footer-contacts">
                        <div class="custom-row my-2">
                            <img  class="footer-img2" src="{% static 'assets/icons/footer_ig.png'%}" alt="">
                            <div class="p-1 footer-desc2"><a href="https://www.instagram.com/stemprasetiyamulya/">@stemprasetiyamulya</a></div>
                        </div>
                        <div class="custom-row my-2">
                            <img  class="footer-img2" src="{% static 'assets/icons/footer_wa.png'%}" alt="">
                            <div class="p-1 footer-desc2"><a href="https://wa.me/6281511662005">(+62)81511662005</a> / <a href="https://wa.me/628124111660">(+62)8124111660</a></div>
                        </div>
                        <div class="custom-row my-2">
                            <img  class="footer-img2" src="{% static 'assets/icons/footer_gmail.png'%}" alt="">
                            <div class="p-1 footer-desc2"><a href="mailto:info@prasetiyamulya.ac.id">info@prasetiyamulya.ac.id</a></div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js'%}"></script>
  </body>
</html>